<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script>
        window.onload = function () {
            // similar behavior as clicking on a link
            window.location.href = "https://efcrud202.azurewebsites.net/users/login/";
        }
    </script>
</head>
<body>

</body>
</html>