@model EF_CRUD.Models.Phone

@{
    ViewBag.Title = "Phone Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Phone Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhoneId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
